<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>dev: Christmas Cheer!</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>We use your location to share with others what geographic region of the world their Christmas Cheer is coming from.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to share with others what geographic region of the world their Christmas Cheer is coming from.</string>
	<key>UIAppFonts</key>
	<array>
		<string>christmasCrackFont.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>snowflake_icon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Send Random Cheer!</string>
			<key>UIApplicationShortcutItemType</key>
			<string>io.loganwright.christmasCheer.sendRandomCheer</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>Key</key>
				<string>Value</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
